chroma-hnswlib==0.7.6
chromadb==0.5.20
geocoder==1.38.1
geopy==2.4.1
google-auth==2.36.0
google-cloud-aiplatform==1.73.0
google-cloud-bigquery==3.27.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.13.1
google-cloud-storage==2.18.2
groq==0.13.0
Jinja2==3.1.4
gTTS==2.5.4
llama-index==0.12.2
pillow==11.0.0
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
streamlit==1.40.2
typing-inspect==0.9.0
typing_extensions==4.12.2
beautifulsoup4
gtts
google-cloud-storage
streamlit__js_eval
langchain
langchain_groq
langchain_community
langgraph
python-dotenv
pypdf
rank_bm25
langchain_openai
faiss-cpu